@use '../base/variables' as *;
@use '../abstracts' as *;

.home {
  display: grid;
  grid-template-columns: 1fr $laptop 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  gap: 1rem 0;
  grid-template-areas:
    'hero hero hero'
    '. main .'
    'footer footer footer';
  @include media($laptop) {
    grid-template-columns: $sideMarginLaptop 1fr $sideMarginLaptop;
  }
  @include media($tablet) {
    grid-template-columns: $sideMarginTablet 1fr $sideMarginTablet;
  }
  @include media($mobile) {
    grid-template-columns: $sideMarginMobile 1fr $sideMarginMobile;
  }
  .hero {
    grid-area: hero;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
}
