@use '../abstracts/' as *;
@use '../base/variables' as *;
.startShopping {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 5rem 0;
  @include media($tablet) {
    font-size: 3rem;
  }
}
.categories {
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  @include media($tablet) {
    gap: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }
  div {
    padding: 1rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    background-blend-mode: overlay;
    background-color: rgba(1, 1, 1, 0.5);
    background-size: cover;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    &:hover {
      background-color: rgba(1, 1, 1, 0.6);
    }
    @include media($tablet) {
      font-size: 2rem;
    }
    a {
      color: $light;
    }
  }
  .leafy-greens {
    background-image: url('/images/leafy-greens.jpg');
  }
  .cabbage {
    background-image: url('/images/cabbage.jpg');
  }
  .marrow {
    background-image: url('/images/marrow.jpg');
  }
  .root {
    background-image: url('/images/root.jpg');
    background-position-y: 20%;
  }
  .celery {
    background-image: url('/images/celery.jpg');
    background-position-y: 50%;
  }
  .garlic {
    background-image: url('/images/garlic.jpg');
    background-position-y: 30%;
  }
}
