@use '../abstracts/' as *;
@use '../base/variables' as *;
.hero {
  background: url('/grocery.jpg'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 2fr 6fr 1fr;
  .heroText {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 40rem;
    h1 {
      color: $light;
      // letter-spacing: 1rem;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 8rem;
      line-height: 7rem;
      color: $light;
      margin-bottom: 1rem;
    }
    p {
      color: $light;
      font-weight: bold;
      font-size: 1.5rem;
    }
    button {
      margin: 1rem 1rem 0 0;
    }
  }
  @include media($tablet) {
    .heroText {
      max-width: auto;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 5rem;
        line-height: 4.5rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
  @include media($mobile) {
    .heroText {
      max-width: auto;
      h1 {
        font-size: 1.6rem;
      }
      h2 {
        font-size: 4rem;
        line-height: 3.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
